@import 'variable';

blockquote {
  .blockquote-container {
    @include col-1();
    @include container();
    text-align: center;
    h6 {
      font-size: 1.4rem;
    }
    p {
      opacity: 0.4;
    }
    .flex-groups {
      @include col-1();
      button {
        padding: 0.5rem;
        border-radius: 30px;
        border: 0;
        color: white;
      }
      .ios-btn {
        background-color: $Strong-Cyan;
      }
      .mac-btn {
        background-color: $Light-Blue;
      }
      @media (min-width: 767px) {
        @include col-2();
        padding-block: 2rem;
      }
    }
    @media (min-width: 767px) {
      padding: 5rem;
    }
  }
}
