@import 'variable';

.clipboard {
  .clipboard-container {
    @include col-1();
    @include container();
    place-items: center;
    text-align: center;
    line-height: 1.4;
    h4 {
      text-align: center;
      font-size: 1.7rem;
    }
    p {
      opacity: 0.4;
      padding-block: 1.8rem;
    }
  }
}
